@page
@model UniversityRegistration.Pages.Logics.IndexModel
@{
}
@if(Model.students.Count > 0)
{

<div class="table table-bordered">
    <table>
        <thead>
            <tr>
                <td>First Name</td>
                <td>Last Name </td>
                <td>Date of Birth </td>
                <td> Faculty</td>
                <td> Department</td>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.students)
            {
                <tr>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.DateOfBirth</td>
                    <td>@item.FacultyName.FacultyName</td>
                    <td>@item.DeptName.DeptName</td>
                </tr>
            }

        </tbody>


    </table>

</div>
}
else{
    <h4> The Table is empty</h4>
}