@page
@model UniversityRegistration.Pages.Logics.IndexModel
@{
}

<div> <a href="/Logics/Create" class="btn btn-primary">Create a Student</a> </div>
@if(Model.students.Count > 0)
{

<div>
    <table  class="table table-bordered">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name </th>
                <th>Date of Birth </th>
                <th>Faculty</th>
                <th>Department</th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model.students)
            {
                <tr>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.DateOfBirth</td>
                    <td>@item.Faculty.Name</td>
                    <td>@item.Department.Name</td>
                    <td> <a href="" class="btn btn-outline-primary">Edit</a> </td>
                     <td> <a href="" class="btn btn-outline-primary">Details</a></td>
                    <td> <a href="" class="btn btn-danger">Delete</a> </td>  
                </tr>
            }

        </tbody>


    </table>

</div>

}
else{
    <h4> The Table is empty</h4>
}